<div id="<%= dom_id post %>">
  <p>
    <strong>Crear:</strong>
    <%= post.Crear %>
  </p>

  <p>
    <strong>Leer:</strong>
    <%= post.Leer %>
  </p>

  <p>
    <strong>Actualizar:</strong>
    <%= post.Actualizar %>
  </p>

  <p>
    <strong>Eliminar:</strong>
    <%= post.Eliminar %>
  </p>

</div>
